@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
* {
    /* border: 1px dashed red; */
    box-sizing: border-box;
    font-family: "IBM Plex Sans", sans-serif;
    font-weight: 400;
    font-style: normal; 
}

body {
    background-color: #F8F7FF;
    margin: 0;
}

h1 {
    color: #F8F7FF;
    font-weight: 600;
    margin-right: auto;
    padding-left: 1em;
}

nav {
    background-color: #B8B8FF;
    display: flex;
    gap: 1em;
    justify-content: right;
    border-bottom: #9f91e4 0.25em solid;
    box-shadow: 0px 10px 100px rgb(208, 199, 164);
}

nav > * {
    display : inline;
    box-sizing: border-box;
}

.due_date
{
    font-weight: bold;
}

.add, .delete, .dropdown-btn {
    background-color: rgba(0, 0, 0, 0);
    border: none;
    padding-right: 1em;
    transition: transform 250ms ease-in-out;
}

.controls {
    margin-left: auto;
    display: flex;
    gap: 0.5em;
}

.dropdown-btn, .delete 
{
    padding: 0;
}

.dropdown-btn.open{
    transform: rotateZ(180deg);
}

.add:hover, .delete:hover, .dropdown-btn:hover {
    transform: scale(1.2);
}

.dropdown-btn.open:hover{
    transform: rotateZ(180deg) scale(1.2);
}

.add:active, .delete:active, .dropdown-btn:active {
    transform: scale(0.9);
}

.dropdown-btn.open:active{
    transform: rotateZ(180deg) scale(0.9);
}

.dropdown.open {
    visibility: visible;
}

.dropdown {
    visibility: hidden;
}

.add-svg {
    width: 3em;
}

.delete-svg, .dropdown-svg {
    width: 1.5em;
}

.assignment {
    background-color: white;
    border: 0.25em solid #9f91e4;
    border-radius: 0.5em;
    box-shadow: 0px 10px 100px rgb(172, 171, 165);
    padding: 1em;
}

.card {
    display: flex;
    gap: 1em;
}

.assignment_name {
    padding-left: 0.5em;
    border-left: 0.1em solid #9f91e4;
}

.assignment_notes {
    width: 100%;
}

footer {
    position: absolute;
    bottom : 0;
}